.submitButton[type='submit'] {
	background: var(--color-offwhite);
	width: 10rem;
	height: 2rem;
	text-align: center;
	border-radius: 2rem;
}

.submitButton[type='submit']:disabled {
	opacity: 0.5;
	cursor: default;
}
